$footerHeight: 70px


@media screen and (max-width: 1349px)
	html 
		font-size: 80%

@media screen and (min-width: 1350px)
	html 
		font-size: 85%

@media screen and (min-width: 1400px)
	html 
		font-size: 90%

@media screen and (min-width: 1400px)
	html 
		font-size: 95%

@media screen and (min-width: 1550px)
	html 
		font-size: 100%

@media screen and (min-width: 1650px)
	html 
		font-size: 105%

@media screen and (min-width: 1750px)
	html 
		font-size: 110%

@media screen and (min-width: 1850px)
	html 
		font-size: 115%

@media screen and (min-width: 1950px)
	html 
		font-size: 120%


/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
	margin: 0
	padding: 0
	border: 0
	// font-size: 100%
	// font: inherit
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
	display: block



@font-face
	font-family: "HelveticaRoundedBd"
	src: url('/fonts/HelveticaRoundedLTPro-Bd.otf') format('opentype')

@font-face
	font-family: "RotondaC"
	src: url('/fonts/RotondaC.otf') format('opentype')

@font-face
	font-family: "RotondaC-Bold"
	src: url('/fonts/RotondaC-Bold.otf') format('opentype')


html
	background: url(/images/bg.png) no-repeat center center fixed
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	font-family: "HelveticaRoundedBd"
	min-height: 100%
	height: auto !important
	height: 100%
	position: relative	
	min-width: 1262px
	max-width: 1920px

.clearfix:after
	content: ""
	display: block
	clear: both

// .wrapper 
// 	min-width: 1000px
// 	max-width: 1200px
// 	margin: 0 auto
// 	min-height: 100%
// 	height: auto !important
// 	height: 100%



body
	min-height: 100%
	height: auto !important
	height: 100%


// first slide

.wrapper
	margin: 0 auto
	min-height: 100%
	height: auto !important
	height: 100%
	padding-bottom: $footerHeight

	header
		margin-left: 5%
		width: 78%
		position: relative

		.logo
			// padding-top: 35px
			width: 8.5%
			float: left
			padding-top: 25px

			.logo-link
				img
					width: 100%

		.close-second-slide
			position: absolute
			width: 11%
			right: -18%
			// top: 40px
			top: 36%
			z-index: 99
			display: none

			.close-second-slide-link
				color: #fff
				background: url(/images/second-slide-close.png) 100% 50% no-repeat
				padding: 10px 45px 10px 10px
				background-size: 1.9rem
				cursor: pointer
				// text-decoration: underline

		.top-menu-container
			margin-left: 9.9%
			display: block
			padding-top: 2.7%
			padding-left: 9.5%
			// float: right
			box-sizing: border-box
			position: relative	
			z-index: 2		

		.top-menu
			display: table
			width: 100%
				
				
			.active
				color: #c7a88a
				transition: color 1s
				-webkit-transition: color 1s /* Safari */

				a
					color: #c7a88a
					transition: color 1s
					-webkit-transition: color 1s 

			.prize
				font-size: 0.9rem
				background: url(/images/prize-icon.png) 0 center no-repeat
				background-size: 2.5rem
				padding-left: 3rem
				display: inline-block
				margin-left: 1.5rem
				padding-top: 0.25rem
				padding-bottom: 0.25rem

			.lk-short
				width: 2rem
				// padding: .2rem

				.lk-short-panel
					display: inline-block
					margin-left: 9%
					padding: 10px
					// width: 18%
					background: #fef2e5
					color: #071689
					font-size: .9rem
					border-radius: 5px
					position: relative

					.lk-close
						position: absolute
						background: url(/images/lk-close.png) 0 0 no-repeat
						display: inline-block				
						width: 18px
						height: 18px
						right: 5px
						top: 5px
						z-index: 2

				// .prizes-icon
				// 	float: left
				// 	background: url(/images/prize-icon.png) 0 0 no-repeat
				// 	width: 35px
				// 	height: 35px
				// 	background-size: 100%			

				span
					// padding-left: 5px

			li			
				color: #071689
				display: table-cell
				padding: 10px 3px
				transition: color .5s
				-webkit-transition: color .5s /* Safari */
				font-size: 1.2rem
				vertical-align: top

				a
					color: #071689
					text-decoration: none

	.middle
		margin-left: 5%

		.fotosession
			width: 28%
			float: left
			opacity: 1
			-webkit-transition: opacity .5s /* Safari */
			transition: opacity .5s


			h1
				color: #ff5353
				font-size: 4.05rem
				line-height: 1.04
				margin: 52px 0 25px

			.conditions
				font-family: "RotondaC"
				font-size: 1.5rem
				margin-bottom: 20px
				margin-left: 2.3rem
				width: 18rem
				
			.condition-icon
				float: left
				width: 34px
				height: 30px
				background-image: url("/images/conditions.png")
				background-repeat: no-repeat
				// padding-right: 10px
				background-size: 1.7rem
				// 82%

				&.condition1
					background-position: 0 .38rem

				&.condition2
					background-position: 0 -2.8rem

				&.condition3
					background-position: 0 -6rem

			.invite-to
				font-family: "RotondaC"
				padding: .52rem .9rem
				background: #071689
				color: #fff
				display: inline-block
				border-radius: 5px
				font-size: 1.9rem
				cursor: pointer
				margin: 25px 0 25px
				text-decoration: none
				position: relative
				z-index: 99


		.rabbits
			width: 48.5%
			margin-left: 28%

			.rabbits-img
				width: 100%
				height: auto
				margin-top: 1.5%


	.gift-block-wrapper 
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		z-index: 1
		-webkit-transition: z-index .5s ease .5s  /* Safari */
		transition: z-index .5s ease .5s

		.gift-parent
			position: relative
			min-height: 100%
			height: auto !important
			height: 100%
			overflow: hidden

			.gift-block
				position: absolute
				width: 100%
				height: 100%
				top: 0
				// left: 70%	
				left: 71%
				-webkit-transition: left .5s ease  /* Safari */
				transition: left .5s ease

				// .block-part
				// 	background: red
				// 	width: 30%	.gift-parent .gift-block .blocks	.gift-content .fotobook-container

				.blocks
					position: relative
					min-height: 100%
					height: auto !important
					height: 100%
					z-index: 3


					.triangle
						position: absolute
						height: 100%
						top: 0
						left: 0					
						width: 265px
						background: url(/images/triangle.png) 0 0 no-repeat
						background-size: 100% 100%

					.second-slide-content
						position: absolute
						height: 100%
						top: 0
						left: 265px
						background: #071689
						width: 83%						

						.fotobook-container
							font-family: "RotondaC"
							width: 58rem
							position: absolute
							color: white
							left: 50%
							margin-left: -39.7rem
							text-align: center
							top: 50%
							margin-top: -220px
							// display: none
							opacity: 0
							-webkit-transition: opacity .5s /* Safari */
							transition: opacity .5s
							// transition: left 2s
							// -webkit-transition: left 2s /* Safari */
							background: url(/images/fotobook-image-new.png) -0.6rem 7rem no-repeat
							background-size: 40%

							.title-fotobook
								font-family: "RotondaC-Bold"
								font-size: 4.2rem
								padding-left: 4rem
								width: 54rem
								margin-bottom: 30px												

							.perfoms-fotobook								
								text-align: left
								// background: url(/images/fotobook-image-new.png) 0 0 no-repeat
								background-size: 30%
								padding-top: 1rem
								padding-left: 20.7rem

								.conditions
									font-size: 2rem
									margin-bottom: 1.3rem
									padding-left: 50px

								.condition-icon
									float: left
									width: 1.6rem
									height: 2.4rem
									background-size: 1.8rem
									background-image: url(/images/conditions-white.png)									
									background-repeat: no-repeat
									padding-right: 10px

									&.condition1
										background-position: 0 5px

									&.condition2
										background-position: 0 -3.45rem
									&.condition3
										background-position: 0 -7.6rem

								.upload-button-container
									// text-align: center
									padding: 3.5rem 0px 0
									margin-left: 3rem

									.upload-check
										font-family: "RotondaC"
										color: white
										font-size: 2rem										
										border-radius: 5px
										padding: 10px
										text-decoration: none
										background: #ff5353
										display: inline-block
						
						.upload-check-container
							display: none

						.thank-you-container
							display: none
					
					.gift-more-info											
						padding-top: 108px
						background: url(/images/gift-right.png) center 0 no-repeat
						color: white
						font-size: 25px
						position: absolute
						top: 50%
						background-size: 34%
						font-size: 2.65rem
						width: 244px
						text-align: center
						left: 10%
						top: 50%
						margin-top: -103px
						z-index: 99
						opacity: 1
						-webkit-transition: opacity .5s /* Safari */
						transition: opacity .5s

						p
							margin-bottom: 1.9rem

						.link-more-info
							font-family: "RotondaC"	
							color: #fff
							font-size: 1.3rem
							// background: #ff5353
							border-radius: 5px
							padding: .9rem 50px .9rem .9rem
							text-decoration: none
							background: #ff5353 url(/images/arr-right.png) 95% 50% no-repeat
							background-size: 18%
							cursor: pointer

// footer

.footer
	// margin-left: 115px
	font-family: "RotondaC"
	color: #5c4835
	font-size: 14px
	height: $footerHeight
	bottom: 0
	margin-top: $footerHeight
	position: absolute
	z-index: 99
	width: 100%
	box-sizing: border-box
	padding-left: 115px

	.copyright
		color: #5c4835

	.social-link-wrapper
		float: right
		color: #fff
		padding-right: 5%

		.social-text
			display: inline-block
			vertical-align: top
			padding-top: 5px
			padding-right: 5px

		.social-small-icons
			background-image: url(/images/social-small-new.png)
			display: inline-block
			width: 26px
			height: 25px
			margin-right: 0px

			&.vk
				background-position: 0 0
			&.ok
				background-position: -30px 0
			&.fb
				background-position: -60px 0
			&.tw
				background-position: -90px 0
			&.gl
				background-position: -119px 0
			&.ml
				background-position: -149px 0



// second slide

.second-slide
	.wrapper
		header
			.top-menu-container
				z-index: 99
			
				.top-menu
					li			
						color: #8c93cf

					a
						color: #8c93cf
						text-decoration: none

					// .prize						

					.active
						color: #444da1

						a
							color: #444da1
							text-decoration: none

					.lk-short
						.lk-short-panel
							background: #8c93cf
							.lk-close
								background: url(/images/lk-close-blue.png) 0 0 no-repeat

						&.close-second-slide
							vertical-align: middle

							// .close-second-slide-link
							// 	color: #fff
							// 	font-size: 16px
							// 	cursor: pointer
							// 	text-decoration: underline

			.close-second-slide
				display: block


		.middle
			.fotosession
				opacity: 0
				// display: none


		.gift-block-wrapper 
			z-index: 3

			.gift-parent 
				.gift-block
					left: 0%

					.blocks	
						.gift-more-info
							// display: none
							opacity: 0


						.second-slide-content
							.fotobook-container
								// display: block
								opacity: 1
	.footer
		.copyright
			color: #fff


	&.send-foto
		.wrapper 
			.gift-block-wrapper 
				.gift-parent
					.gift-block
						.blocks
							.second-slide-content	
								.fotobook-container
									display: none

								.upload-check-container
									display: block
									font-family: "RotondaC"
									width: 73rem
									position: absolute
									color: white
									left: 50%
									margin-left: -39.99rem									
									top: 50%
									margin-top: -10rem			
									-webkit-transition: opacity .5s
									transition: opacity .5s
									// background: url(/images/fotobook-image-new.png) -0.6rem 7rem no-repeat
									background-size: 40%

									.title-upload-check
										font-family: "RotondaC-Bold"
										font-size: 4.2rem
										line-height: 1.05
										width: 54rem
										margin-bottom: 1.2rem	
										color: #fff
										text-align: left
										padding-left: 23.5rem

									.upload-check-folder
										float: left
										text-align: center
										background: url(/images/folder-icon.svg) 2.81rem 1.3rem no-repeat
										width: 22rem
										padding-top: 15.9rem
										background-size: 16.75rem
										padding-right: 1.5rem
										position: relative

										.error-text
											display: none

										&.error
											background: url(/images/folder-icon-error.svg) 2.81rem 1.3rem no-repeat
											background-size: 16.75rem

											.error-text
												display: block
												color: #fff
												position: absolute
												// width: 3rem
												// height: 3rem
												font-size: 1.5rem												
												margin-left: 5.6rem
												margin-top: -10rem
												width: 12rem
												text-align: left

												span
													font-family: "RotondaC-Bold"
										
										.add-foto
											border-bottom: 1px dashed
											color: #fff
											cursor: pointer
											font-size: 1.15rem

										.formats
											margin-top: 1.1rem
											color: #6672d8


									.upload-check-right-part
										margin-left: 23.5rem

										.text-upload-check
											text-align: left
											// padding-top: 1rem
											// padding-left: 5.1rem
											padding-top: .9rem											
											font-size: 2.2rem
											line-height: 1.09

										.agree-rules
											color: #fff
											margin: 1rem 0 0 .5rem
											font-size: 1.3rem


											/*checkbox and container*/
											.agree-rules-wrapper 
												width: auto 

												label 
													// width: 100%
													// font-size: 14px
													// padding-top: 0
													color: white
													margin: 0.8rem 0 0 1.89rem
													font-size: 1.2rem

												.checkbox 
													display: block
													height: 24px
													margin-top: 3px
													position: relative

												.checkbox:first-child 
													margin-top: 0    

												.checkbox input 
													opacity: 0
													position: absolute
													height: 1.2rem
													left: -.3rem
													top: -0.1rem
													width: 1.2rem  

												.checkbox input + label 
													background-image: url("/images/check-empty.png")
													padding-left: 1.6rem
													background-size: 1rem
													background-position: 0 0
													background-repeat: no-repeat
													display: inline-block
													// font-size: 14px
													/*line-height: 49px*/
													margin: 0
													/*padding-left: 54px*/        

												.checkbox input:checked + label 
													background-image: url("/images/check-checked.png")


												.checkbox input:active + label 
													background-image: url("/images/check-checked.png")


												.checkbox input:active:checked + label 
													background-image: url("/images/check-checked.png")


												.checkbox input:disabled + label 
													background-image: url("/images/check-checked.png")


												.checkbox input:disabled:checked + label 
													background-image: url("/images/check-checked.png")
											/*end checkbox and container*/


											.agree-rules-link
												text-decoration: underline
												color: #fff

										.rules-link
											color: #fff
											margin: .7rem 0 0 .3rem
											display: inline-block
											font-size: 1.19rem
									
										.send-foto-container
											text-align: left
											padding: 2.05rem 0px 0											

											.send-foto-link
												font-family: "RotondaC"
												color: white
												font-size: 2rem										
												border-radius: 5px
												padding: 10px
												text-decoration: none
												background: #ff5353
												display: inline-block
												border: 0
												cursor: pointer

								.thank-you-container
									display: none


	&.thank-you
		.wrapper 
			.gift-block-wrapper 
				.gift-parent
					.gift-block
						.blocks
							.second-slide-content	
								.fotobook-container
									display: none

								.upload-check-container
									display: none									

								.thank-you-container
									display: block
									font-family: "RotondaC"
									width: 58rem
									position: absolute
									color: white
									left: 50%
									margin-left: -39.7rem
									text-align: center
									top: 50%
									margin-top: -11rem			
									-webkit-transition: opacity .5s
									transition: opacity .5s
									// background: url(/images/fotobook-image-new.png) -0.6rem 7rem no-repeat
									background-size: 40%

									.title-thank-you
										font-family: "RotondaC-Bold"
										font-size: 4.2rem
										padding-left: 6.3rem
										line-height: 1.05
										width: 54rem
										margin-bottom: 30px	
										color: #fff

									.text-thank-you
										text-align: center
										// padding-top: 1rem
										// padding-left: 5.1rem
										padding-top: .7rem
										padding-left: 9.9rem
										font-size: 2.2rem
										// padding-right: 1.8rem
										font-size: 2rem
									
									.go-to-po-container
										// text-align: center
										padding: 3rem 0px 0
										margin-left: 7rem

										.go-to-po-link
											font-family: "RotondaC"
											color: white
											font-size: 2rem										
											border-radius: 5px
											padding: 10px
											text-decoration: none
											background: #ff5353
											display: inline-block