$footerHeight: 70px
$transitionTime: 2s


/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
	display: block



@font-face
	font-family: "HelveticaRoundedBd"
	// src: url('bingo.eot')
	// src: local('bingo')
	// src: url('bingo.svg#bingo') format('svg')
	src: url('/fonts/HelveticaRoundedLTPro-Bd.otf') format('opentype')

@font-face
	font-family: "RotondaC"
	// src: url('bingo.eot')
	// src: local('bingo')
	// src: url('bingo.svg#bingo') format('svg')
	src: url('/fonts/RotondaC.otf') format('opentype')


html
	background: url(/images/bg.png) no-repeat center center fixed
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	font-family: "HelveticaRoundedBd"
	min-height: 100%
	height: auto !important
	height: 100%
	position: relative	

.clearfix:after
	content: ""
	display: block
	clear: both

// .wrapper 
// 	min-width: 1000px
// 	max-width: 1200px
// 	margin: 0 auto
// 	min-height: 100%
// 	height: auto !important
// 	height: 100%



body
	min-width: 1280px
	max-width: 1920px
	min-height: 100%
	height: auto !important
	height: 100%


// first slide

.wrapper
	margin: 0 auto
	min-height: 100%
	height: auto !important
	height: 100%
	padding-bottom: $footerHeight

	header
		margin-left: 95px
		width: 77%
		position: relative

		.logo
			// padding-top: 35px
			width: 8%
			float: left
			padding-top: 25px

			.logo-link
				img
					width: 100%

		.close-second-slide
			position: absolute
			width: 11%
			right: -18%
			top: 40px
			z-index: 99
			display: none

			.close-second-slide-link
				color: #fff
				background: url(/images/second-slide-close.png) 100% 50% no-repeat
				padding: 10px 45px 10px 10px
				background-size: 30px

		.top-menu-container
			margin-left: 8%
			display: block
			padding-top: 25px
			padding-left: 10%
			// float: right
			box-sizing: border-box
			position: relative			

		.top-menu
			display: table
			width: 100%

			.active
				color: #c7a88a

			.prizes
				font-size: 14px
				background: url(/images/prize-icon.png) 0 center no-repeat
				background-size: 16%
				padding-left: 41px

			.lk-short-panel
				padding: 10px
				width: 18%
				background: #fef2e5
				color: #071689
				font-size: 13px
				border-radius: 5px
				position: relative

				.lk-close
					position: absolute
					background: url(/images/lk-close.png) 0 0 no-repeat
					display: inline-block				
					width: 18px
					height: 18px
					right: 5px
					top: 5px
					z-index: 2

				// .prizes-icon
				// 	float: left
				// 	background: url(/images/prize-icon.png) 0 0 no-repeat
				// 	width: 35px
				// 	height: 35px
				// 	background-size: 100%			

				span
					// padding-left: 5px

			li			
				color: #071689
				display: table-cell
				padding: 10px


	.middle
		margin-left: 95px

		.fotosession
			width: 310px
			float: left

			h1
				color: #ff5353
				font-size: 48px
				margin: 60px 0 25px

			.conditions
				font-family: "RotondaC"
				font-size: 16px
				margin-bottom: 20px
				margin-left: 45px
				
			.condition-icon
				float: left
				width: 34px
				height: 30px
				background-image: url("/images/conditions.png")
				background-repeat: no-repeat
				padding-right: 10px

				&.condition1
					background-position: 0 0

				&.condition2
					background-position: 0 -61px 

				&.condition3
					background-position: 0 -126px 	

			.invite-to
				font-family: "RotondaC"
				padding: 10px
				background: #071689
				color: #fff
				display: inline-block
				border-radius: 5px
				font-size: 20px
				cursor: pointer
				margin: 25px 0 25px
				text-decoration: none
				position: relative
				z-index: 99


		.rabbits
			width: 40%
			margin-left: 310px

			.rabbits-img
				width: 100%
				height: auto


	.gift-block-wrapper 
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0

		.gift-parent
			position: relative
			min-height: 100%
			height: auto !important
			height: 100%
			overflow: hidden

			.gift-block
				position: absolute
				width: 100%
				height: 100%
				top: 0
				// left: 70%	
				left: 70%
				-webkit-transition: left 2s /* Safari */
				transition: left 2s
				// .block-part
				// 	background: red
				// 	width: 30%	.gift-parent .gift-block .blocks	.gift-content .fotobook-container

				.blocks
					position: relative
					min-height: 100%
					height: auto !important
					height: 100%
					z-index: 3

					.triangle
						position: absolute
						height: 100%
						top: 0
						left: 0					
						width: 265px
						background: url(/images/triangle.png) 0 0 no-repeat
						background-size: 100% 100%

					.gift-content
						position: absolute
						height: 100%
						top: 0
						left: 265px
						background: #071689
						width: 83%

						.fotobook-container
							width: 680px
							position: absolute
							color: white
							left: 50%
							margin-left: -500px
							text-align: center
							top: 50%
							margin-top: -220px
							display: none
							transition: left 2s
							-webkit-transition: left 2s /* Safari */

							.title-fotobook
								font-size: 50px	
								margin-bottom: 30px													

							.perfoms-fotobook
								text-align: left
								background: url(/images/fotobook-image.png) 0 0 no-repeat
								background-size: 30%
								padding-left: 265px

								.conditions
									font-size: 25px								
									margin-bottom: 15px
									padding-left: 50px

								.condition-icon
									float: left
									display: inline-block
									width: 34px
									height: 35px
									background-image: url(/images/conditions-white.png)									
									background-repeat: no-repeat
									padding-right: 10px

									&.condition1
										background-position: 0 5px

									&.condition2
										background-position: 0 -66px
									&.condition3
										background-position: 0 -149px

								.upload-container
									text-align: center
									padding: 30px 0px 0

									.upload-check
										font-family: "RotondaC"
										color: white
										font-size: 20px
										border-radius: 5px
										padding: 10px
										text-decoration: none
										background: #ff5353
										display: inline-block
					
					.gift-more-info											
						padding-top: 75px
						background: url(/images/gift-right.png) center 0 no-repeat
						color: #fff
						font-size: 25px
						position: absolute
						top: 50%
						background-size: 25%
						font-size: 40px
						width: 225px
						text-align: center
						left: 11.5%
						top: 50%
						margin-top: -91px
						z-index: 99

						p
							margin-bottom: 15px

						.link-more-info
							font-family: "RotondaC"	
							color: #fff
							font-size: 16px
							// background: #ff5353
							border-radius: 5px
							padding: 10px 50px 10px 10px
							text-decoration: none
							background: #ff5353 url(/images/arr-right.png) 95% 50% no-repeat
							background-size: 18%

// footer

.footer
	// margin-left: 115px
	font-family: "RotondaC"
	color: #5c4835
	font-size: 14px
	height: $footerHeight
	bottom: 0
	margin-top: $footerHeight
	position: absolute
	z-index: 99
	width: 100%
	box-sizing: border-box
	padding-left: 115px

	.copyright
		color: #5c4835

	.social-link-wrapper
		float: right
		color: #fff
		padding-right: 5%

		.social-text
			display: inline-block
			vertical-align: top
			padding-top: 5px
			padding-right: 5px

		.social-small-icons
			background-image: url(/images/social-small.png)
			display: inline-block
			width: 26px
			height: 25px
			margin-right: 0px

			&.vk
				background-position: 0 0
			&.ok
				background-position: -30px 0
			&.fb
				background-position: -60px 0
			&.tw
				background-position: -90px 0
			&.gl
				background-position: -119px 0
			&.ml
				background-position: -149px 0



// second slide

.second-slide
	.wrapper
		header
			.top-menu-container
				z-index: 99
			
				.top-menu
					li			
						color: #8c93cf

						&.active
							color: #444da1

						&.lk-short-panel
							background: #313d9f

							.lk-close
								background: url(/images/lk-close-blue.png) 0 0 no-repeat

						&.close-second-slide
							vertical-align: middle

							.close-second-slide-link
								color: #fff
								font-size: 16px

			.close-second-slide
				display: block


		.middle
			.fotosession
				display: none


			.gift-more-info
				display: none

		.gift-block-wrapper 
			.gift-parent 
				.gift-block
					left: 2%

					.blocks	
						.gift-content
							.fotobook-container
								display: block

	.footer
		.copyright
			color: #fff